<div id='camisetas' class='hidden-sm-down'>
  <img *ngFor="let key of Object.keys(camisetas)" src={{camisetas[key]}}>
</div>

<div class='container-fluid'>
<header class="row"
  [style.background-image]="'url(' + '/assets/imgs/header.png' + ')'">

  <div id="header_1" class="col-md-3">
    <div>
      <h1>python_joven</h1>
      <h3>#uruguay 2009 - 2014</h3>
    </div>

    <figure class="logo-figure">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/01.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/02.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/03.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/04.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/05.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/06.png' + ')'">
      <img class="logo-img"
        [style.background-image]="'url(' + '/assets/imgs/07.png' + ')'">
    </figure>

  </div>

  <div id="header_2" class="col-md-9">
    <div>
      <h1>Descripción:</h1>
    </div>
    <div>
      <hr>
      <p>
        Comunidad uruguaya de jóvenes entusiastas de la programación, unidos en torno a python y el software libre, buscando llegar lo más lejos posible en el aprendizaje sobre el desarrollo de software.
      <br>
        Compartimos el conocimiento adquirido brindando oportunidades de aprendizaje a aquellos jóvenes que estén dispuestos a dedicar su tiempo a esta tarea.
      </p>
      <hr>
    </div>
  </div>

</header>

<main class="row">
		<section id="code-in" class="col-md-3">
			<h1>Destacados</h1>
			<div id="code_in_flex">
			<figure>
			    <img class="premiados" src="/assets/imgs/Agustin_Zubiaga.png">
          <figcaption><img class="fa fa-spin" src="/assets/imgs/og-image.png">
            Agustín Zubiaga<br>
            <a href="https://www.google-melange.com/archive/gci/2012" target="_blank">(google code-in 2012)</a>
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="/assets/imgs/Ignacio_Rodriguez.png">
          <figcaption><img class="fa fa-spin" src="/assets/imgs/og-image.png">
            Ignacio Rodriguez<br>(google code-in
            <a href="https://www.google-melange.com/archive/gci/2013" target="_blank">2013</a> y
            <a href="https://www.google-melange.com/archive/gci/2014" target="_blank">2014</a>)
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="/assets/imgs/Ezequiel_Pereyra.png">
          <figcaption><img class="fa fa-spin" src="/assets/imgs/og-image.png">
            Ezequiel Pereyra<br>
            <a href="https://codein.withgoogle.com/archive/2015/" target="_blank">(google code-in 2015)</a>
          </figcaption>
			</figure>
			<figure>
			    <img class="premiados" src="/assets/imgs/Cristian_Garcia.png">
          <figcaption><img class="fa fa-spin" src="/assets/imgs/og-image.png">
            Cristian García<br>
            <a href="https://codein.withgoogle.com/archive/2016/" target="_blank">(google code-in 2016)</a>
          </figcaption>
      </figure>
      </div>

      <div class='imgExtra'>
      <figure>
        <img class="premiados" src="/assets/imgs/02.png">
        <figcaption><a href="https://fdanesse-f2b2c.firebaseapp.com/home" target='_blank'>Flavio Danesse<br>fdanesse@gmail.com</a>
        </figcaption>
      </figure>
      <figure>
        <img class="premiados" src="/assets/imgs/6.jpg">
      </figure>
      </div>
		</section>

		<section id="contenido" class="col-md-9">
      <h1>Videos:</h1>
      <label id="videoLabel">{{videoLabel}}</label>
      <div class='row container-media'>
        <div class='media-item' *ngFor='let d of videos' id={{d}}
          (click)='changeVideo($event)' data-toggle="tooltip"
          data-placement="bottom" title={{d}}></div>
      </div>
      <video video autobuffer controls='true' type="video/webm" autoplay='true' src={{videoSrc}}></video>
      <h1>Fotografías:</h1>
      <div class='row fotos'>
        <div class='col-md-6 fotos1'>
          <ul>
            <h5>Antecedentes:</h5>
            <li class='link' (click)='goPictures($event)'>Despliegue Ceibal 2008</li>
            <h5>Origen:</h5>
            <li class='link' (click)='goPictures($event)'>Orígenes 2009 - 2010</li>
            <li class='link' (click)='goPictures($event)'>SqueakFest - 2011</li>
            <li class='link' (click)='goPictures($event)'>Sugar Day - pyconar 2011</li>
            <h5>Desarrollo:</h5>
            <li class='link' (click)='goPictures($event)'>Mayo 2012</li>
            <li class='link' (click)='goPictures($event)'>EduJAM 2012</li>
            <li class='link' (click)='goPictures($event)'>Junio 2012</li>
            <li class='link' (click)='goPictures($event)'>MiniJAM Maragato 2012</li>
            <li class='link' (click)='goPictures($event)'>Agosto 2012</li>
            <li class='link' (click)='goPictures($event)'>Setiembre 2012</li>
            <li class='link' (click)='goPictures($event)'>Diciembre 2012</li>
          </ul>
        </div>
        <div class="col-md-6 fotos1">
          <ul>
            <h5>Consolidación:</h5>
            <li class='link' (click)='goPictures($event)'>Varias 2013</li>
            <li class='link' (click)='goPictures($event)'>Marzo 2013</li>
            <li class='link' (click)='goPictures($event)'>ANTEL Avanzá 2013</li>
            <li class='link' (click)='goPictures($event)'>Febrero 2014</li>
            <li class='link' (click)='goPictures($event)'>Chia - Colombia_2014</li>
            <li class='link' (click)='goPictures($event)'>Sugar Camp - Chia - Colombia 2014</li>
            <li class='link' (click)='goPictures($event)'>Cabo San Juan - Colombia 2014</li>
            <h5>Cierre:</h5>
            <li class='link' (click)='goPictures($event)'>Diciembre 2014</li>
            <li class='link' (click)='goPictures($event)'>Agosto 2015</li>
            <li class='link' (click)='goPictures($event)'>Varias</li>
            <li class='link' (click)='goPictures($event)'>Algo de google</li>
          </ul>
        </div>
      </div>
      <h1>Audios:</h1>
      <label id="audioLabel">{{audioLabel}}</label>
      <div class='row container-media'>
        <audio id='audioplayer' preload='none' autoplay='none' controls='true' src={{audioSrc}} type="audio/mp3"></audio>
      </div>
      <div class='row container-media'>
        <div class='media-item' *ngFor='let key of Object.keys(audios)' id={{key}}
          (click)='changeAudio($event)' data-toggle="key"
          data-placement="bottom" title={{key}}></div>
      </div>
      <h1>Notas:</h1>
      <div class='row container-notas'>
      <div class='col-md-3 notas'>
        <a target='_blank' href="https://www.elpais.com.uy/vida-actual/adolescente-uruguayo-google-le-pidio-deje-hackearlo.html">Google pide detener hackeo.</a>
        <a target='_blank' href="https://www.elpais.com.uy/informacion/proyecto-acerco-cinco-uruguayos-google.html">Proyecto python_joven</a>
        <a target='_blank' href="https://www.elpais.com.uy/vida-actual/uruguayo-descubrio-error-google-recompensado-us.html">Uruguayo descubre vulnerabilidad en google</a>
      </div>
      <div class='col-md-3 notas'>
        <a target='_blank' href="http://www.espectador.com/sociedad/283177/entre-los-ganadores-del-concurso-anual-de-programaci-n-de-google-code-in-hay-nuevamente-un-joven-uruguayo">Ignacio - El Espectador</a>
        <a target='_blank' href="http://www.mec.gub.uy/innovaportal/v/65457/2/mecweb/segundo-ano-consecutivo?parentid=64016">Ignacio - MEC</a>
        <a target='_blank' href="http://museofigari.gub.uy/innovaportal/v/46519/2/mecweb/ignacio-rodriguez?parentid=44653">Ignacio - MEC</a>
      </div>
      <div class='col-md-3 notas'>
        <a target='_blank' href="http://www.bbc.com/mundo/noticias/2013/04/130422_programadores_adolescentes_am">Agustín - BBC</a>
        <a target='_blank' href="https://olpc-france.org/blog/2010/06/jamedia-encore-un-point-pour-luruguay/">JAMedia OLPC France</a>
        <p>Etc...</p>
      </div>
      </div>
      <h1>Menciones:</h1>
      <div class='menciones'>
        <a target='_blank' href="https://books.google.com.uy/books?id=96L1LUejuGgC&pg=PR24&lpg=PR24&dq=Flavio+Danesse&source=bl&ots=WQULSyFbQT&sig=qcmp4WfUxlbQvPKYCZMLAW4Vjb0&hl=es-419&sa=X&ved=0ahUKEwjMsZziq_raAhUEpFkKHdr7DwI4ChDoAQhXMAk#v=onepage&q=Flavio%20Danesse&f=false">
          Learning to Change the World: The Social Impact of One Laptop Per Child
        </a>
        <a target='_blank' href="http://www.um.es/ead/red/54/bender.pdf">
          The Sugar Learning Platform: Affordances for Computational Thinking Sugar Labs. Massachusetts Institute of Technology. Cambridge, USA
        </a>
        <a target='_blank' href="http://www.redalyc.org/pdf/547/54741184005.pdf">
          Revista de Educación a Distancia Universidad de Murcia España
        </a>
      </div>
    </section>

    <!--
      Libro Learning to Change the World: The Social Impact of One Laptop Per Child:
      https://books.google.com.uy/books?id=96L1LUejuGgC&pg=PR24&lpg=PR24&dq=Flavio+Danesse&source=bl&ots=WQULSyFbQT&sig=qcmp4WfUxlbQvPKYCZMLAW4Vjb0&hl=es-419&sa=X&ved=0ahUKEwjMsZziq_raAhUEpFkKHdr7DwI4ChDoAQhXMAk#v=onepage&q=Flavio%20Danesse&f=false

      FIXME:
      https://www.video2brain.com/mx/cursos/angular-2-practico-sitio-de-consumo-de-videos
    -->
</main>

<footer>
  <p>Copyright &copy; 2009-{{copyrigth}} Flavio Danesse Todos los derechos reservados.</p>
</footer>

</div>
